@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@600&display=swap');

* {
    margin: 0px;
    padding: 2px;
}
.img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    right: 30px;
}
.home-content {
    height: 20vh;
}
.content {
    text-align: center;
    padding-top:120px ;
    background-image:linear-gradient(to bottom, #1f183d,#1c3e4f,#1c3e4f,#1f183d);
    height: 320vh;
}
@media screen and (max-width: 768px) { 
   .img {
height: 60px;
   width: 60px;
   }
}
.home-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}
.naming-container {
    height: 200px;
    width: 400px;
font-family: 'Oswald', sans-serif;
color: cyan;
}
.img-container {
    height: 300px;
    width: 300px;
}
.pro-img {
    height: 250px;
    width: 250px;
    border-radius: 40px;
    margin-top: 20px;
}
.writter {
    font-size: 30px;
}
.type {
    font-size: 30px;
    color: white;
    font-family: "Roboto";
    margin: 10px 0px ;
}
.heading {
    font-size: 35px;
    display: inline;
}
.symbol {
    position: relative;
    bottom: 20px;
}
.add {
    color: cyan;
}
.name-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info {
    margin: 0px 4px;
    color: #1c3e4f;
    font-size: 20px;
}
.about-me-section {
    padding-top: 60px;
}
.left-hr {
    width: 65%;
    margin-left: 20px;
}
.about-me-info {
    position: relative;
    bottom: 20px;
    left: 400px;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
.about-me-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    align-self: flex-start;
}
.about-info-text {
    font-size: 24px;
    color: aquamarine;
}
.about-info-container {
    width: 420px;
    padding: 2px 10px;
}
.color-cyan {
    color: cyan;
    margin-bottom: 50px;
}
.skills-section {
    margin-top: 80px;
}
.right-hr {
    width: 70%;
    margin-left: 360px;
}
.skills-info {
    position: relative;
    bottom: 20px;
    right: 460px;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
.skill-img {
    height: 120px;
    width: 120px;

}
.sm {
    height: 95px;
    width: 95px;
    padding: 10px 5px;
}
.skills-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
}
.skill-card {
    background-color: aqua;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px 60px;
}
.skill-info-card {
    font-family:  'Oswald', sans-serif;
}
.wd {
    width: 100px;
}
.contact-form {
    margin-top: 80px;
}
.form-container {
    background-color: transparent;
    width: 210px;
    margin: 20px auto ;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #bfbfbf;

}
.label {
    position: relative;
    right: 60px;
    font-weight: bold;
  
}
.input {
    padding: 6px;
    outline: none;
    margin: 6px 0px;
    font-family: 'Roboto';
    border-radius: 4px;
    border: 1px solid grey;
}
.submit-btn {
    padding: 8px;
    border: none;
    background-color: cyan;
    color: #000000;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.success {
    font-family: "Roboto";
    font-weight: bold;
    color: green;
    padding-bottom: 5px;
}
.failure {
    font-family: "Roboto";
    font-weight: bold;
    color: red;
}