.head {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}
.exp-content {
  text-align: center;
  padding-top: 320px;
  background-image: linear-gradient(
    to bottom,
    #1f183d,
    #1c3e4f,
    #1c3e4f,
    #1f183d
  );
  min-height: 100vh;
}
.exp-card {
  background-color: #fff;
  height: 220px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.start-circle {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.mid-circle {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  left: 620px;
  top: -140px;
}
.exp-head {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding-bottom: 30px;
}
.role {
  font-family: "Roboto";
  color: #bfbfbf;
  font-weight: bold;
}
.end-circle {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  top: -280px;
  left: 1120px;
}
.mt {
  margin-top: 80px;
}
.exp-info {
  font-family: "Roboto", "Helvetica Neue";
  font-size: 24px;
  color: #fff;
  padding: 40px 0px 10px 0px;
}
.start-line {
  width: 540px;
  position: relative;
  top: -65px;
  left: 140px;
  border: 3px dotted yellowgreen;
}
.end-line {
  position: relative;
  width: 450px;
  top: -210px;
  left: 760px;
  border: 3px dotted yellowgreen;
}
.c {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-shadow: 2px 2px 2px blue;
}
.new-card {
  height: 300px;
  width: 900px;
  border: 1px solid cyan;
  margin: 40px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #064647;
  border-radius: 20px;
  box-shadow: 2px 4px 8px #000;
}
.new-card-sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.role-name {
  width: 380px;
  color: #fff;
  font-family: "Roboto", Courier, monospace;
}
.role-name h1,
h4 {
  padding: 14px 0px !important;
}
.role-name h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.middle-line {
  height: 200px;
  border: 1px solid cyan;
}
.duration-proof {
  color: #fff;
  font-family: "Roboto", Courier, monospace;
}
.duration-proof h2,
button {
  margin: 8px 0px !important;
}

.duration-proof button {
  padding: 10px 18px;
  border: none;
  outline: none;
  background-color: orangered;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 0px;
}
.duration-proof button:hover {
  background-color: cyan;
  color: #000;
}
