.head {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
.exp-content {
    text-align: center;
        padding-top: 320px;
        background-image: linear-gradient(to bottom, #1f183d, #1c3e4f, #1c3e4f, #1f183d);
        min-height: 100vh;
}
.exp-card {
    background-color: #fff;
    height: 220px;
    margin: 20px;
        padding: 20px;
        border-radius: 20px;
}
.start-circle {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.mid-circle {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    left: 620px;
    top: -140px;
}
.exp-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 30px;
}
.role {
    font-family: "Roboto";
    color: #bfbfbf;
    font-weight: bold;
}
.end-circle {
    background-color: green;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: relative;
       top: -280px;
       left: 1120px;
}
.mt{
    margin-top: 80px;
}
.exp-info {
    font-family: "Roboto", "Helvetica Neue",;
    font-size: 24px;
    color: #fff;

} 
.start-line{
    width: 540px;
    position: relative;
    top: -65px;
    left: 140px;
    border: 3px dotted yellowgreen;
}
.end-line {
    position: relative;
    width: 450px;
    top: -210px;
        left: 760px;
        border: 3px dotted yellowgreen;

}
.c {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px blue;
}